{% extends 'base.html.twig' %}

{% block title %}Edit Expense{% endblock %}

{% block body %}
<body class="container"> 
<div class="row">
<div class="col-4"></div>
<div class="col-4">
    <h1>Edit Expense</h1>

   {{ include('expense/_form.html.twig', {'button_label': 'Update'}) }}
     {{ include('expense/_delete_form.html.twig') }}
    <div class="col-4"></div>  
</body>
{% endblock %}
