{% extends 'base.html.twig' %}

{% block title %}Edit Tricount{% endblock %}

{% block body %}
<body class="container"> 
<div class="row">
<div class="col-4"></div>
<div class="col-4">
    <h1>Edit Tricount</h1>
    {{ include('tricount/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('tricount/_delete_form.html.twig', {'button_label': 'Update'}) }}
    <div class="col-4"></div>  
</body>
{% endblock %}
