{% extends 'base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
    <h1>Expenses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ expense.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ expense.price }}</td>
            </tr>
        </tbody>
    </table>
   {{ include('expense/showbutton.html.twig') }}
    </div>  
<div class="col-3"></div>  
</body>
{% endblock %}
