{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
<body class="container"> 
<div class="row">
<div class="col-4"></div>
<div class="col-4">
    <h1>Edit Users</h1>

    <a {{ include('user/_form.html.twig', {'button_label': 'Update'}) }} </a>

   <a {{ include('user/_delete_form.html.twig') }}</a>

     <a class="btn btn-primary mt-3" href="{{ path('user_index') }}">back to list</a>
    </div>  
<div class="col-4"></div>  
</body>
{% endblock %}
