{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Create new Users</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary mt-4" href="{{ path('user_index') }}">back to list</a>
{% endblock %}
