{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="text-center mt-5 mb-5">Create new Users</h1>
            {{ include('user/_form.html.twig') }}
        </div>  
        <div class="col-4"></div>  
    </div>
</div>
{% endblock %}
